/* General Styles */
body {
    background-color: #121212; /* Dark background for the whole page */
    color: #e0e0e0; /* Light text color for readability */
}

/* Navbar Styles */
.navbar {
    background-color: #1f1f1f !important; /* Ensure the navbar has the dark background */
}

.navbar-brand, .nav-link {
    color: #e0e0e0 !important; /* Ensure text color in the navbar is light */
}

.nav-link:hover {
    color: #1db954 !important; /* Ensure the hover color is applied */
}

/* Navbar Toggler */
.navbar-toggler-icon {
    background-color: #e0e0e0; /* Color for the toggle icon */
}

/* Additional Navbar Styles if needed */
.navbar .navbar-nav .nav-link {
    font-weight: 600; /* Optional: Adjust font weight for better readability */
}


.card {
    background-color: #1e1e1e; /* Dark background for cards */
    border: 1px solid #333; /* Slightly lighter border */
}

.card-title {
    color: #e0e0e0; /* Light color for card titles */
}

.card-text {
    color: #b0b0b0; /* Lighter color for card text */
    font-weight: 600; /* Slightly lighter font weight */
}

.card-img-top {
    border-bottom: 1px solid #333; /* Border below image */
}

.card:hover {
    transform: scale(1.05);
}

.pagination .page-item .page-link {
    color: #1db954; /* Highlight color for pagination links */
}

.pagination .page-item.active .page-link {
    background-color: #1db954; /* Background color for active pagination link */
    border-color: #1db954;
    color: #121212; /* Dark color for text on active link */
}

.btn {
    border-radius: 0.25rem;
}

.btn-warning {
    background-color: #1db954; /* Green color for buttons */
    border-color: #1db954;
}

.btn-warning:hover {
    background-color: #1aab49; /* Slightly darker green on hover */
    border-color: #1aab49;
}

.list-group-item {
    background-color: #1e1e1e; /* Dark background for list group items */
    border: 1px solid #333; /* Border color for list group items */
}

.alert-success {
    background-color: #343a40; /* Dark background for alerts */
    color: #d4edda; /* Light text color */
    border-color: #1e1e1e;
}

.font-italic {
    color: #b0b0b0; /* Light color for italic text */
}

