{% extends 'shop/base.html' %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6">
            <img src="{{ product_object.image }}" class="img-fluid rounded shadow-sm" alt="{{ product_object.title }}">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ product_object.title }}</h3>
                    <h4 class="card-subtitle mb-2 text-muted">{{ product_object.price }}</h4>
                    {% if product_object.discount_price %}
                    <h5 class="card-text text-success">Discount: ₹{{ product_object.discount_price }}</h5>
                    {% endif %}
                    <p class="card-text">{{ product_object.description }}</p>
                    <div class="d-grid gap-2 mt-3">
                        <button id="{{ product_object.id }}" class="btn btn-warning atc">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
